<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite App</title>
  </head>
  <body class="!text-gray-800 bg-slate-100 p-5">
    <div
      class="max-w-[400px] w-full border border-gray-200 rounded-xl shadow-lg py-3 px-4 bg-white space-y-2"
    >
      <p class="text-lg font-semibold">Clean Garden</p>
      <p class="text-gray-600 text-sm font-medium line-clamp-2">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum
        quibusdam illo numquam quasi amet iure officiis quod dolorem voluptatum!
        Fugit veritatis magni officia numquam explicabo illo a inventore nostrum
        tenetur?
      </p>
      <div class="grid grid-cols-1 sm:grid-cols-2 pt-2 gap-3">
        <button
          class="border-2 border-red-500 rounded-xl text-red-500 font-semibold hover:bg-red-100 py-1"
        >
          Remove
        </button>
        <button
          class="border-2 border-slate-500 rounded-xl text-slate-500 font-semibold hover:bg-slate-100 py-1"
        >
          Done
        </button>
      </div>
    </div>

    <script type="module" src="/main.js"></script>
  </body>
</html>
